[2021-03-23 06:07] markoprljic opened #1 "People submit requests here"

[2021-03-23 17:09] markoprljic opened #2 "I want to write a Blog post"
## 📋 What do you want to write about?

I want to write about...

## ❓ Why should this be published?

## Is relevant to one of our Working Groups?
List the WG's here with checkboxes

## 🤼‍ Who would you like to Review and Edit? List as many as you want.

@GriffGreen @tamarandom

## 🔗 Links to your previous publications (if any, ok if you don't have any)

[2021-03-23 17:11] markoprljic commented on #2
Done reviewing.

[2021-03-23 17:11] markoprljic commented on #2
Thanks, I'm going to do final edits now.

[2021-03-23 17:11] markoprljic commented on #2
Distributor can take it from here.

[2021-03-23 20:02] markoprljic commented on #2
This issue was just for demo purposes.

[2021-03-23 20:02] #2 closed, assigned to nobody

[2021-03-23 20:03] markoprljic opened #3 "Content for Join our Community page on TEC Website"
We need content for the TEC Website, it is a dedicated page to redirect users to Join our Community. This is where onboarding begins.

Related issue in TEC Web repo https://github.com/TECommons/tec-web/issues/8

[2021-03-24 06:15] #1 closed, assigned to nobody

[2021-03-24 06:28] markoprljic opened #4 "Hatch DAO Content for Landing page"
### Context

We want to productize the “Hatch DAO” (it is modifiable and customizable) we should give the Hatch DAO that credit, think of it as a product.

Create a dedicated page on the website to promote the Hatch DAO, link to resources for people to get started
“New way to do DAO’s, this is how you should do it!”
Mention legal aspect and what they can reuse and / or not use.

### Requirement

W

[2021-03-29 16:07] markoprljic opened #5 "I want some content"

[2021-03-29 16:24] #5 closed, assigned to nobody

[2021-03-29 16:39] markoprljic commented on #4
Reviewers and Editors: Params, Comms, and the requestor of the issue.
Maybe have labels for each WG this falls under.

[2021-03-29 18:01] tamarandom opened #6 "Phrasing clarification about about CSTK tokens"
Content modification request!

We need to change the following phrasing everywhere it exists.

The known places are :
1. at the bottom of all of the blog post
2. the forum
3. (maybe) inside the transparency doc

There may be other so keep a look out for it & use the new phrasing going forward.

The old phrasing is "Token Engineering Commons members are also eligible to receive CSTK tokens from the

[2021-03-29 18:15] tamarandom opened #7 "Disribution of Z's article "The Importance of Token Engineering Ethics for the TEC""
Strategic distribution for Zargham's article, which is soon to be published on our TEC Medium page. After it's published, we need to mega-amplify  it on Twitter, in our newsletter, share it with partner/ecosystem blogs and newsletters, etc.

[2021-03-29 18:59] natenatesoo commented on #6
This is a good point.  I think that changes to phrasing or terminology should be proposed within a TEC StyleGuide Document that is utilized by our group of Editors when editing new content.  I am currently working on this and will keep you updated.

[2021-03-30 07:39] tamarandom commented on #6
Style Guide 👏🏼👏🏼

In the mean time, going back and editing the published blog posts is a piece of work of medium priority.
https://medium.com/token-engineering-commons/transparency-in-daos-999b17b0ff74

[2021-03-30 16:25] markoprljic opened #8 "Explaining how Tokelog works"

[2021-03-30 16:26] markoprljic opened #9 "How Quadratic metrics work to amplify another governance tool"
How Quadratic metrics work, to amplify this another governance tool and how it works with the tokens IH and CSTK score, explaining the mechanics

[2021-03-30 18:34] tamarandom opened #10 "A tale of two Mediums."
Is there any reason to keep this live ?  https://tecommons.medium.com ![Screen Shot 2021-03-30 at 8.29.02 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/4b9c3e96-4059-426a-8593-52b29691b2c1)

When we have this one now?  https://medium.com/token-engineering-commons
![Screen Shot 2021-03-30 at 8.29.28 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/328be7

[2021-03-30 18:35] tamarandom commented on #7
It just went live!
https://medium.com/token-engineering-commons/engineering-ethics-in-web3-18d981278018

[2021-03-31 14:37] tamarandom opened #11 "MMV Promotion (a la rock the vote)"
https://forum.tecommons.org/t/mission-vision-and-values-tokenlog-session/296

Reviewer :
@liviade1

[2021-04-01 00:05] natenatesoo commented on #6
Done!

[2021-04-01 16:28] divine-comedian commented on #11
also promoted here - https://forum.tecommons.org/t/tokenlog-and-quadratic-voting-rock-the-vote/317

[2021-04-01 16:29] divine-comedian commented on #9
https://forum.tecommons.org/t/tokenlog-and-quadratic-voting-rock-the-vote/317

[2021-04-01 16:29] divine-comedian commented on #8
https://forum.tecommons.org/t/tokenlog-and-quadratic-voting-rock-the-vote/317

[2021-04-01 17:22] markoprljic commented on #7
And so this is where the distribution process need to kick in. I recall there was a list of channels and partners for distribution that Jess shared in another repo. @natenatesoo do you happen to have it?

[2021-04-01 17:43] natenatesoo opened #12 "Test Issue"
Creating Test Issue

[2021-04-01 17:45] natenatesoo commented on #12
This Test issue is something that fits our WG's needs!  We will be promoting it with members within the Comms WG.  @zenteam

[2021-04-01 17:47] natenatesoo commented on #12
I'm telling you that I am going to write this article for the Comms WG!

[2021-04-01 17:47] natenatesoo commented on #12
Here is a Link to the Google Document:

[2021-04-01 17:49] natenatesoo commented on #12
I am done with writing this article!  @editteam

[2021-04-01 17:50] natenatesoo commented on #12
I am going to edit this document!

[2021-04-01 17:50] natenatesoo commented on #12
I'm done editing this document! @publicationteam

[2021-04-01 17:51] natenatesoo commented on #12
I will publish this document on Monday, 6pm CET.

[2021-04-01 17:52] natenatesoo commented on #12
The document was published! @socialteam

[2021-04-01 17:53] natenatesoo commented on #12
I will distribute this article on Tuesday, 6pm CET.

[2021-04-01 17:54] natenatesoo commented on #12
Article was distributed on all Social Channels! @zenteam

[2021-04-01 19:35] tamarandom commented on #7
FYI that for Twitter : Ivy and I crafted a tweet that went out after we had Jeff's feedback on it. It's a high profile piece so want to make sure the message is on exactly point. (Would not normally need Jeff's eyes on any other tweets.)

[2021-04-01 19:52] divine-comedian commented on #3
first draft ready for review - Any other places we should direct people? Is the gitbook ready for the public? @CommonsBuild/community-stewards  https://docs.google.com/document/d/1AJCAv5CA_5NmEg3T6LOHz40-YzJ9uDf5bkCxFeHE-tA/edit?usp=sharing

[2021-04-01 19:55] natenatesoo commented on #7
I am unaware of this list, however I will talk to Jessica about it/search the repos.  I have discussed the distribution of content to partners and other channels with Ivy, and we are asyncing to establish a strategy around that, and will be incorporated within the Comprehensive C&D Document.

[2021-04-01 19:56] natenatesoo commented on #12
- [x] Click Test

[2021-04-01 20:00] jessicazartler commented on #3
Looks awesome! You could also link to https://forum.tecommons.org/t/5-how-to-join-contribute/98 or work in the working groups / some of the content, you could also add or embed the TE community Gcalendar with this link https://calendar.google.com/calendar/u/0/embed?src=5mkep1ad1j860k6g7i7fr8plq0@group.calendar.google.com&ctz=Europe/Berlin

Nice work!

[2021-04-02 16:12] tamarandom commented on #3
Update : Closed

[2021-04-02 16:12] #3 closed, assigned to divine-comedian

[2021-04-02 16:42] markoprljic commented on #10
What I see here is that the first one https://tecommons.medium.com/ is the Author, like a medium user.
The second one https://medium.com/token-engineering-commons is a medium page, like publications page.

I'm not sure we should delete any of those especially if the first one (Author) is coming up first in google search.

The second one, the TEC Medium PAGE should just be customised design based o

[2021-04-02 17:14] markoprljic commented on #7
@natenatesoo This is the original process that Jess passed on us https://github.com/commonsbuild/coordination/issues/516#issuecomment-794260076

Pasting here for reference.

The piece must be appropriate for the channel and the message should not be spammy, something tailored to the group that is why people in that group would care. Would also be great to have different people taking on different

[2021-04-05 04:34] natenatesoo commented on #12
Testing Team Notifications

@zenhubteam
@editingteam
@publicationteam
@distributionteam

[2021-04-06 15:54] #12 closed, assigned to nobody

[2021-04-06 17:20] divine-comedian opened #13 "Forum post for Disputable Voting's Challenge Amount"
@GriffGreen commented on [Sun Feb 28 2021](https://github.com/CommonsBuild/coordination/issues/477)

---

@freedumbs00 commented on [Mon Mar 08 2021](https://github.com/CommonsBuild/coordination/issues/477#issuecomment-792741002)

I'm assigning @divine-comedian.  We are not ready yet but you can prepare.  I will be adding you to more of these for the Upgrade.

[2021-04-06 17:22] divine-comedian opened #14 "CDD - ABC - Forum posts defining params"
@GriffGreen commented on [Fri Apr 02 2021](https://github.com/CommonsBuild/coordination/issues/586)

[2021-04-09 15:05] #11 closed, assigned to divine-comedian

[2021-04-09 15:06] #9 closed, assigned to divine-comedian

[2021-04-09 15:06] #8 closed, assigned to divine-comedian

[2021-04-09 16:59] divine-comedian opened #15 "Article idea : Article about the Working Groups"
@tamarandom commented on [Tue Feb 16 2021](https://github.com/CommonsBuild/coordination/issues/434)

## 📋 Anything to add?

Article proposed by Sebnem, loop her into this.

To be fleshed out but essentially :
- Who are the working groups
- Why are the working groups
- How do they function?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

[2021-04-09 17:01] divine-comedian opened #16 "Review Content of the Gitbook"
@tamarandom commented on [Fri Mar 05 2021](https://github.com/CommonsBuild/coordination/issues/512)

## 📋 Anything to add?

Create a list of areas where Gitbook needs filling, create Epic+ issues & assign them to contributors.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

---

@tamarandom comme

[2021-04-09 17:04] divine-comedian opened #17 "0mega / WG category on the Forum"
@tamarandom commented on [Sat Feb 27 2021](https://github.com/CommonsBuild/coordination/issues/466)

## 📋 Anything to add?

 https://forum.tecommons.org/c/working-groups/13

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-09 17:21] divine-comedian opened #18 "General Forum post for ABC"
@GriffGreen commented on [Sun Jan 03 2021](https://github.com/CommonsBuild/coordination/issues/223)

[2021-04-12 10:43] iviangita opened #19 "Share the Community Call video recording on Twitter every Friday"
As part of our transparency initiatives, we want to share the Community Call video recording on Twitter every Friday. This will be a weekly recurring tweet - same wording but new video every week. Does the Comms WG approve?

Please let me know if you have suggestions to improve the draft below or if it's good to go. Thanks! :)

DRAFT:
Not able to join our Community Call yesterday? No problem. It’s

[2021-04-12 10:53] markoprljic commented on #19
Good with me! :)

[2021-04-12 16:03] divine-comedian commented on #19
here for example @iviangita if you want to tag the comms WG  you'll see an option to tag -  @CommonsBuild/communications  once you have a draft you can ping the @CommonsBuild/editingteam to come and review your draft. If it's helpful for you its there rather than having to think or lookup who to tag you can just tag whole teams

[2021-04-12 18:14] divine-comedian commented on #19
**Propose:**

Not able to join our Community Call yesterday? No problem, it’s on our YouTube channel. From the Praise Fest to our Working Group updates to the TE Project Spotlight at the end, they are always high vibe, good times! raised_handsspeaking_headstar2
Watch now: https://www.youtube.com/watch?v=ehhAVtQhLAs

[2021-04-12 18:35] divine-comedian opened #20 "Write forum post for how to get wxdai"
@divine-comedian commented on [Wed Apr 07 2021](https://github.com/CommonsBuild/coordination/issues/623)

how to get wxdai, what are the options, what are the STEPS?

Try to get people to start from DAI or ETH but also if they have BTC or crypto on other chains

---

@divine-comedian commented on [Wed Apr 07 2021](https://github.com/CommonsBuild/coordination/issues/623#issuecomment-815153469)

fir

[2021-04-12 19:23] freedumbs00 commented on #20
I forget we need to do these things...I like it.  @divine-comedian .

[2021-04-13 08:07] iviangita commented on #19
@divine-comedian oohh thanks for the tagging tips and edits! I'll use your proposed wording. 🙏

[2021-04-14 15:06] chuygarcia92 opened #21 "T Wells' presentation for TEC"
There will be a sync call to review T Wells'  presentation for newcomers. Could work great as a landing page!

[2021-04-14 15:10] markoprljic commented on #21
I sent all design resources to T Wells on Discord PM. If anything else needed please let me know.

[2021-04-14 17:49] markoprljic opened #22 "Create a Google Slides template for TEC Comunity Call Updates"
Take this doc and turn it into Google slides https://docs.google.com/document/d/1hdGDugNqB33lsWn7eTWIeIt2CQ5HHTqvdYKru5wquG4/edit#heading=h.j2t16l2tpic9

[2021-04-15 22:38] chuygarcia92 commented on #21
@twell-s and I met earlier today and he will work on a proposal over the weekend. We'll have a hack sesh next week to catch up and see a WIP at a time @markoprljic can attend.

[2021-04-16 10:30] iviangita opened #23 "Youtube description for each WG"
To promote our Youtube videos as part of transparency initiatives, can we request help from Comms WG to draft the verbiage or template to put in the description box of the WG videos - like one template for each WG? This can help with our SEO too if we use the right keywords. :)

[2021-04-16 13:03] iviangita commented on #19
Closing this now and adding the edited content under issue [382](https://github.com/CommonsBuild/coordination/issues/382). Thanks guys! 🙏

[2021-04-16 13:03] #19 closed, assigned to nobody

[2021-04-16 15:32] tamarandom opened #24 "Hatch Campaigns 🥳"
This is the last Sprint before the Hatch Sprint! Woohoo!

This issue is to create a strategic comms campaign leading up to and through the end of the Hatch.

Here are some off the cuff ideas I want to jot down but they are not carefully thought through yet so please can any of the ideas that are no good and make it great!

*When* // *What* // *Where/Who*

10 & 5 days before the Hatch //  Trusted S

[2021-04-16 15:38] tamarandom opened #25 "Communication to Hatchers"
This issue is to craft the communication to all Hatchers (i.e., TECH token holders following the Hatch close) following the close of the Hatch.

This should be pulled into Sprint 9.

[2021-04-16 17:37] divine-comedian commented on #23
draft in progress - https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit?usp=sharing

[2021-04-16 18:18] divine-comedian commented on #23
@CommonsBuild/editingteam @markoprljic   draft ready for review ^

[2021-04-16 19:55] divine-comedian opened #26 "Create a post that explains how to use the Hatch Dashboard and include Hatch Param Parties dates"
@GriffGreen commented on [Fri Apr 16 2021](https://github.com/CommonsBuild/coordination/issues/649)

## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-19 11:46] markoprljic commented on #23
@divine-comedian I think this is good!

Would it be good to paste hashtags [from this list](https://github.com/CommonsBuild/coordination/issues/490#issuecomment-795400021) at the bottom of each channel description? I think it would be good.

[2021-04-19 12:03] tamarandom commented on #23
@markoprljic @divine-comedian will you present this to the Stewards in our weekly on Wed so all can eyeball their section before it goes live on Youtube.

[2021-04-19 13:09] markoprljic commented on #23
I believe the sections were sourced from their respective docs and forum groups, not sure that needs review from Stewards.
Is that correct @divine-comedian

We could run it through on the call to give final thumbs up tho or if anyone wants to add something.

[2021-04-19 14:29] markoprljic commented on #24
@chuygarcia92 Do you feel comfortable taking on this Epic?

[2021-04-19 14:42] markoprljic commented on #24
Thinking about what we need:

- Content producer for the campaign
- Distribution schedule and channels
- Supporting graphics and/or memes
- Link to the page to learn more, Sign up or get notified or other
- Updates during the Hatch (how we're doing)

Please fill in with other things needed.

[2021-04-19 14:47] divine-comedian commented on #23
@tamarandom  @markoprljic

I pulled all the info almost verbatim from the WG manifestos, ideally these are being kept up to date.
I can add some hashtags no problem.

[2021-04-19 15:16] markoprljic commented on #24
I'd love some thoughts on this from @divine-comedian @natenatesoo and Anna Swan when she joins our github org :)

[2021-04-19 15:46] markoprljic commented on #24
@MrsBadgerface FYI

[2021-04-19 17:29] MrsBadgerface commented on #24
Can someone briefly share a couple of things so I have some context?

1. What's the timescales for this? (When does the Hatching happen?)
2. What's the intention? (Goals and hopes of this campaign).
3. Who are we hoping to communicate with?

[2021-04-19 20:56] divine-comedian commented on #24
yes as anna-marie mentioned above ^ We need some more context.

Hopefully we can battle-test our C&D board in this coming sprint. Has anyone been delegated to write the launch post? @markoprljic

[2021-04-19 21:01] divine-comedian commented on #20
@CommonsBuild/editingteam  please review

https://docs.google.com/document/d/18557GJhhb7q7k3rYJ3cji8RgwUCnmf42rUpgporl65M/edit?usp=sharing

[2021-04-19 21:36] natenatesoo commented on #24
Yes, it looks like we will need content -- I would suggest Medium Articles.  I don't think they need to be complicated, very brief, but slinging resource links for Trusted Seed Application? (how late can this be done?), Swiss Membership dAPP, TEC Handbook (Hatcher FAQ), and links to our Parameter votes.  Distribution on the other hand will need to be highly targeted to as many different TE communi

[2021-04-20 03:18] freedumbs00 commented on #20
Closing this.  I liked it

[2021-04-20 03:18] #20 closed, assigned to nobody

[2021-04-20 09:59] markoprljic commented on #24
@tamarandom You wanna fill in here as well?

[2021-04-20 13:54] markoprljic commented on #22
@CommonsBuild/community-stewards Here's the Community Call Slides template, please review https://docs.google.com/presentation/d/1msWeZyBOURMEMqF_WtsmYqaBnBCQz7oKkKLp2xxpwIE/edit?usp=sharing

[2021-04-20 16:33] markoprljic commented on #24
@chuygarcia92 is coordinating this Epic.

[2021-04-20 16:34] markoprljic commented on #24
We're organising a Hack Sesh for this epic.
@natenatesoo will add it to the TEC calendar and invite Craig and EVERYONE is welcome to join.

[2021-04-20 16:39] markoprljic opened #27 "Distribution of How to be a Hatcher"
https://forum.tecommons.org/t/how-you-can-hatch-the-tec/328

[2021-04-20 17:01] divine-comedian commented on #26
https://docs.google.com/document/d/1yp1lHM3Ksx3OoBCaHF6uktNN186rGT22S0GfD_u3qoE/edit# - draft

it's missing some info for the hatch param parties, also feel free to suggest any narrative changes (your economy, your choice etc..)
@CommonsBuild/parameters-commons-swarm  @CommonsBuild/editingteam

[2021-04-21 14:59] iviangita commented on #27
**TWITTER: Draft wording for review/approval:** @CommonsBuild/editingteam

We heard you want to advance token engineering and create a regenerative token economy! Wanna know how? Become a founding member of TEC!

Read this step-by-step guide to become one: https://forum.tecommons.org/t/how-you-can-hatch-the-tec/328

(Meme by Lauren)

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9

[2021-04-21 17:58] chuygarcia92 opened #28 "Update Gravity WG YouTube descriptions"

[2021-04-21 18:02] chuygarcia92 commented on #28
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FIRU-QqtwBqIDQnG3NqisJ-l

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:03] chuygarcia92 opened #29 "Update Hatch Outreach WG YouTube descriptions"

[2021-04-21 18:05] chuygarcia92 commented on #29
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FIRM3Dd-p7Tt8oLVWDX51R23

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:06] chuygarcia92 opened #30 "Update Soft-Gov WG YouTube descriptions"

[2021-04-21 18:07] chuygarcia92 commented on #30
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FISS5VA7p50ohoyb9Rf5HzoY

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:07] chuygarcia92 opened #31 "Update Comms WG YouTube descriptions"

[2021-04-21 18:09] chuygarcia92 commented on #31
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FITZYWONez_F5mb0-Gjwj3da

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:09] chuygarcia92 opened #32 "Update Parameters WG YouTube descriptions"

[2021-04-21 18:11] chuygarcia92 commented on #32
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FIRcTvLPBN2f6jXqvoRaz0Vb

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:11] chuygarcia92 opened #33 "Update Transparency WG YouTube descriptions"

[2021-04-21 18:13] chuygarcia92 commented on #33
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FIQ_sbCfiB2e7PkPWkgpetX4

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:15] chuygarcia92 opened #34 "Update Stewards WG YouTube descriptions"

[2021-04-21 18:15] chuygarcia92 commented on #34
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FITr2aiW-GIJ7-Q43T0u-mwH

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:16] chuygarcia92 opened #35 "Update 0mega WG YouTube descriptions"

[2021-04-21 18:17] chuygarcia92 commented on #35
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FITmDG5G8PQ63rxyfvapDwiC

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:17] chuygarcia92 opened #36 "Update Legal WG YouTube descriptions"

[2021-04-21 18:18] chuygarcia92 commented on #36
Update content descriptions in playlist videos:
https://youtube.com/playlist?list=PLusWL9gf0FIS9H7UTPJtj1u4raGZYhCOI

Description drafts can be found here: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:20] chuygarcia92 opened #37 "Update YouTube descriptions for each video uploaded"
The idea is to use these descriptions for each video + a template that includes main links:

- Discord server

- Twitter

- Glossary (for newcomers)

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-04-21 18:34] chuygarcia92 commented on #21
Update: @twell-s still working on a draft and reviewing documentation

[2021-04-22 02:48] chuygarcia92 commented on #22
This is great!!!!! @markoprljic I would add two separate text boxes in the updates slides. One of these would be for topics in the agenda and the other one for annotations that may be brought up during the call.

[2021-04-22 06:08] markoprljic commented on #22
It's up to you guys to edit your slides as you see fit. This is the framework and the template, you take it from here @CommonsBuild/community-stewards

[2021-04-22 15:17] iviangita opened #38 "Share MVV Runoff on Twitter"
Hey team, I prepared the draft tweets for MVV Runoff: one to send tomorrow (or today if possible) and another one on Monday for the last call. Can someone review/approve them before I publish? Just also a reminder that Twitter has limited characters. :D Thank you!!! 🙏

cc: @liviade1

- [x] Review/approve draft tweets (Comms team)
- [x] Share on Twitter (Ivy)

**First announcement:**

The Top 3 MVV

[2021-04-22 16:43] divine-comedian commented on #38
Comments:

 - In the first announcement the GIF seems particularily HUGE, maybe it's just a github formatting issue..
 - The youtube link for both posts have a timestamp on it so when you click on the link it takes you to the end of the video.

[2021-04-23 02:01] iviangita commented on #38
@divine-comedian Github made the GIF so huge haha but here's the link to the meme I found on our Discord server https://discord.com/channels/810180621930070088/810180622165213222/827636946003427368. I also updated the Youtube link - thanks for catching that! Is there anything else that needs to change? Otherwise I'll go ahead and publish them.  :)

[2021-04-23 02:37] natenatesoo commented on #27
Reviewing!

[2021-04-23 02:43] natenatesoo commented on #27
It looks good! "Become a Founding Member" may be a phrase people 'contest' internally, but I see no issues with it.  Other than that, the messaging looks good, and links are included!

Suggestion:
"Become a founding member of **the** _Token Engineering Commons_!" (prefer to spell it out instead of using the acronym!)

[2021-04-23 03:33] iviangita commented on #27
@natenatesoo thank you so much! Will send out the tweet today :D

[2021-04-23 12:57] divine-comedian commented on #38
Looks good to me Ivi! Moving to publishing

[2021-04-23 16:52] markoprljic commented on #38
Mitch 🔥🔥🔥

[2021-04-23 17:02] #38 closed, assigned to iviangita

[2021-04-23 17:02] iviangita commented on #38
Thanks so much @divine-comedian!!!! 🙏😊 It's already published so I'm closing this issue. :)

https://twitter.com/tecmns/status/1385633564671180802?s=20

[2021-04-25 20:10] cranders1 opened #39 "Praise Quant Blog v2"
Greetings C&D. Not sure if the biweekly PQ blog should be included in this repo/process.
Given recent Comms convergence, however, can't hurt to throw it to the collective wolves to decide.
Duplicate w/ [#220 ](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/220)

Here's a draft. Hack away.
https://docs.google.com/document/d/1Wo

[2021-04-26 09:24] tamarandom commented on #39
Good idea to move it here. Closing out the old issue : https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/220

[2021-04-26 11:20] tamarandom commented on #22
Updated the Agenda in the Community Sync cal invite! <-- @iviangita this means the URL should stay the same each week. If we are planning to archive can we copy the archive to another deck and update this same one each week. Let me know if that's not clear enough. ;)

Added to Stewards' agenda this week as a last reminder to update it before Thursday and take into consideration @chuygarcia92 and o

[2021-04-26 11:39] markoprljic commented on #22
@tamarandom No reason to keep it open, I moved it to Published.

Suggestion to use the deck
![Image 2021-04-26 at 1 37 33 pm](https://user-images.githubusercontent.com/5704285/116076624-c0814500-a694-11eb-8a6c-c8f0000a4250.jpg)

[2021-04-26 13:34] MrsBadgerface commented on #24
Hey @markoprljic Was the session set up? I had a look at the calendar today and couldn't see anything that looked like it would be related to this but perhaps I'm missing it?

[2021-04-26 13:45] markoprljic commented on #24
Good question! I'm not sure, @natenatesoo should be able to answer.

[2021-04-26 18:54] chuygarcia92 opened #40 "Better text for the hatch homepage"
Review content of landing page:

https://hatch-demo.netlify.app/

[2021-04-27 03:45] natenatesoo commented on #39
Looks Awesome!

[2021-04-27 03:48] #27 closed, assigned to natenatesoo

[2021-04-27 06:16] markoprljic commented on #21
From Discord convos...

T Wells is working on an onboarding module similar to the one he created for 1Hive https://docs.google.com/presentation/d/e/2PACX-1vQm_v90bEp-g04GoADuIAvbpEqwT6tatSXZOgYKGkhTQFjsLCZdqsJidYZdDPvLR4_muj1pyI7EsKdi/pub?start=false&loop=false&delayms=60000

He wanted to do the same for TEC and start with WGs in the same way he did Swarms for 1Hive - unless there is a different a

[2021-04-27 06:18] markoprljic commented on #10
@chuygarcia92 @natenatesoo Who's taking ownership of this issue? Any progress?

[2021-04-27 13:17] iviangita commented on #22
Hi @tamarandom @markoprljic I created a copy of the deck of last Thursday call and archived it so we will only use the same URL every week. Then I created a tracker of the archived decks for future reference. Hope this is okay? Let me know if you have other suggestions. Thanks!

Archived agenda tracker: https://docs.google.com/spreadsheets/d/1UYCLstL4i-kzYPwenEP0UWGhW7_bQgE4THQqeL7yQqM/edit?usp=sh

[2021-04-27 13:25] markoprljic commented on #22
That's fine with me.  If everyone always knows where the current deck can be found and updated, that's cool.

[2021-04-27 13:25] Santigs commented on #36
reviewed

[2021-04-27 15:59] chuygarcia92 commented on #10
@markoprljic so far we think approaching this from an SEO perspective will be a better solution

[2021-04-27 19:47] natenatesoo commented on #10
Yeah.  We are currently working on it within the SEO hack sessions.  We will maintain both pages.  SEO results will change over time, and we are developing a strategy for it.

[2021-04-28 21:50] divine-comedian opened #41 "MEMES for Hatch Param Parties!"
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/c6442398-fb3f-4475-86c3-52949afd71b0)

## NEVER ENOUGH MEMES

[2021-04-29 11:37] markoprljic commented on #4
Postponing this until further notice.

[2021-04-29 11:44] markoprljic commented on #21
@chuygarcia92 I renamed this issue to reflect what's being done. You are assigned to carry this through.
Pleas sync with TWells and Suga in Discord group.

First mockups TWells sent ...
https://docs.google.com/presentation/d/1hAlqKFzmjp6mWfpX8POJyeeOBEPSqQAVgtDEovrnbhk/edit?usp=sharing

[2021-04-29 16:44] #22 closed, assigned to markoprljic

[2021-04-29 16:45] markoprljic commented on #23
@divine-comedian Can we close this one or is there any other update?

[2021-04-29 16:45] markoprljic commented on #40
@chuygarcia92 Who needs to review this so that we can close this issue?

[2021-04-29 17:09] divine-comedian commented on #23
If we can assume all the @CommonsBuild/community-stewards  have tweaked or at least reviewed their youtube descriptions we can move this into publishing.

[2021-04-29 17:10] divine-comedian commented on #23
@CommonsBuild/publicationteam

[2021-04-29 17:49] markoprljic commented on #41
@divine-comedian please can someone else take this? Thank you.

[2021-04-30 02:29] cranders1 commented on #39
published w/o mvv final but did link to github repo with a promise of a polished release soon.
pinged ivy.

https://docs.google.com/document/d/1WobIOMjad_bcSdf9qn23QlWRP2xV1iGqZB09VikJtEs/edit#heading=h.n962ilictkf1

https://medium.com/token-engineering-commons/your-economy-your-choice-v2-4f7c9fb42d99

[2021-04-30 16:00] iviangita opened #42 "Create content tracker for TEC Twitter"
This is for re-sharing our existing Medium articles on Twitter and drive traffic to our Medium page.

[2021-04-30 16:19] GriffGreen commented on #41
I will bring it up in the Meme party! Thx Mitch!

[2021-04-30 16:54] tamarandom commented on #17
Done.

[2021-04-30 16:54] #17 closed, assigned to nobody

[2021-04-30 16:54] tamarandom commented on #10
This is under of umbrella of the larger SEO issue!! Closing.

[2021-04-30 16:54] #10 closed, assigned to natenatesoo, chuygarcia92

[2021-04-30 16:58] Zeptimus commented on #33
We did it :D

This is the Transparency Working Group! We help promote transparency, openness and mutual monitoring as the high-level ideal that we're moving towards at TEC. The way that we get there is by empowering people to share this experience with the Transparency Audits and making information available to everyone.
We gather every two weeks on Mondays at 3pm CET. Check out our agenda and not

[2021-04-30 17:11] tamarandom commented on #7
Update : Closing!

[2021-04-30 17:11] #7 closed, assigned to natenatesoo

[2021-05-03 19:48] liviade1 opened #43 "Create a graphic for MVV and tweet about it"
@liviade1

[2021-05-03 19:48] liviade1 commented on #43
**Vision**
Enable the creation of ethical, safe, resilient and diverse economic systems to benefit societies around the world.
**Mission**
Our goal is to become a Schelling Point for the token engineering community.
Our economic layer will fund projects that discover, develop and proliferate the best practices  for engineering safe tokenized economies, while aligning our collective success with th

[2021-05-04 08:18] iviangita commented on #43
Twitter has character limit, so it's better to put the MVV in graphics and create a tweet thread. Here's from the [original copy](https://docs.google.com/document/d/1R8yLfht6GvGHr8VDvyZ-sVP1s54rPLY4MtXPBOqHtO0/edit#) that @liviade1 drafted and I created the graphics :)

@CommonsBuild/communications @CommonsBuild/editingteam For approval to be published please. Edits/suggestions are welcome! :D

**

[2021-05-04 11:18] markoprljic commented on #43
I'd break it up in 4 tweets, intro, then mission, vision and values with photo. Also, add hashtags and links to our site.

[2021-05-04 12:14] iviangita commented on #43
@markoprljic Will break it up in 4 tweets then. However, I don't think there's already an official post/article about the MVV results in our forum or Medium, can we share the link in another tweet once it's posted in any of our sites?

[2021-05-04 12:32] markoprljic commented on #43
Yes I think we can do that. But in these 4 we can just link to our dot org site.

[2021-05-04 13:23] jessicazartler commented on #43
LOVE it!!!! :D <3

[2021-05-04 15:27] iviangita commented on #43
Published: https://twitter.com/tecmns/status/1389601002836291590

[2021-05-04 15:41] liviade1 commented on #43
thanks so much @iviangita @markoprljic

[2021-05-04 15:41] #43 closed, assigned to chuygarcia92

[2021-05-04 18:40] #31 closed, assigned to chuygarcia92

[2021-05-05 14:30] divine-comedian commented on #26
https://docs.google.com/document/d/1yp1lHM3Ksx3OoBCaHF6uktNN186rGT22S0GfD_u3qoE/edit#

draft ready for review - hoping for a quick review then off to the forum, this one is past due!

@CommonsBuild/editingteam  @CommonsBuild/communications

[2021-05-05 15:49] MrsBadgerface commented on #26
@divine-comedian Went through it quickly with my editor hat on. Hope that helps. Really fascinating to read! Helping me get some insight into what was talked about at the params party last night. Thank you.

[2021-05-05 17:38] natenatesoo opened #44 "Param Party Medium Article"
Modify this Forum Post and transfer it into a Medium Article:  https://forum.tecommons.org/t/evolving-economics-via-hatch-param-parties/364

[2021-05-06 15:38] chuygarcia92 opened #45 "Add Katy (Suga) to the C&D repo"
@markoprljic could you please give Katy permissions to create issues in this workspace?

danel.suga@gmail.com

[2021-05-06 15:54] markoprljic commented on #45
Invited her to this repo

![Image 2021-05-06 at 5 50 29 pm](https://user-images.githubusercontent.com/5704285/117328533-0360cb00-ae94-11eb-9222-11bb25ead17c.jpg)

Also added her to Comms team in the org github

![Image 2021-05-06 at 5 53 29 pm](https://user-images.githubusercontent.com/5704285/117328574-0e1b6000-ae94-11eb-9de2-bf5e6e05791d.jpg)

[2021-05-06 15:54] #45 closed, assigned to markoprljic

[2021-05-06 21:36] chuygarcia92 commented on #4
any thoughts on this @divine-comedian @markoprljic ?

https://hackmd.io/@1sBtuDmrRBG360k8-EXf2A/BJ6JtQku_

[2021-05-06 21:37] chuygarcia92 commented on #40
followed up on issue #4.

[2021-05-06 21:37] #40 closed, assigned to chuygarcia92

[2021-05-06 21:38] chuygarcia92 commented on #4
I'm also working on an animated video with @mount-manu but we'll share script & storyboard with all of you before doing any production

[2021-05-06 23:29] divine-comedian commented on #26
published- https://forum.tecommons.org/t/design-your-economy-make-your-choice/366

[2021-05-07 10:57] markoprljic commented on #4
I'm getting 404 on Hackmd doc. @chuygarcia92

[2021-05-07 12:31] tamarandom commented on #44
It's live!

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

@danelsuga drafted it and incorporated feedback from Chuy, Jeff, Griff and myself. Excellent work @danelsuga !!!

There was some fiddling around with how to publish it on Medium but we finally figured it out.

[2021-05-07 13:53] danelsuga commented on #44
Looking good! Thanks for all the help, everyone, esp Tam!!

[2021-05-08 11:22] tamarandom commented on #44
Shared this tweet with @iviangita to be sent today:

What are you doing this weekend? Want to learn all about the Hatch params and even submit your own set?

It’s your economy, your choice.

Next one starts soon...

Saturday: 7pm CET, 1pm EST, 10am PST
Sunday: 9 & 10pm CET, 3 & 4pm EST, 12 & 1pm PST

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your

[2021-05-10 15:02] iviangita opened #46 "Draft tweet for params party video and distribute"
Here's the link to the video: https://www.youtube.com/watch?v=qLlfPdbb8NY

[2021-05-10 22:12] GriffGreen opened #47 "Create a SHORT post about how the TEC uses the Trusted Seed"
## 📋   Anything to add?

This was requested by Z.

## 🎉   Subtasks

- [ ] The TEC CHOSE to use the Trusted Seed as the Hatchers (Expand and link)
- [ ] The TEC CHOSE to use the Membership Ratio of ________ (Expand and link)
- [ ] Discuss the side effect of using the amplitude of the CSTK Score and how people can pay more dues within their maxTrustScore (Expand and Link)

## 🤼‍♂️   Reviewer

@

##

[2021-05-11 06:10] iviangita commented on #46
@CommonsBuild/communications @CommonsBuild/editingteam  For review/approval please before I publish, thanks! :)

**DRAFT TWEET:**

The TEC is laying the groundwork for a bottom-up economy by allowing our community to propose and vote on its parameters before the Hatch. Deep dive into our economic design process in this Params Party with TE thought leaders @mZargham and @trentmc0!

https://youtu.be

[2021-05-11 06:20] iviangita opened #48 "Announce params parties on Twitter"

[2021-05-11 06:50] iviangita commented on #48
Reusing the copy that @natenatesoo wrote for param parties last week, but I added the dashboard link and created a graphic. @CommonsBuild/communications @CommonsBuild/editingteam For review/approval please before I publish today (May 11), thank you!!!

**DRAFT TWEET:**

Token Engineering Challenge!

Come test your skills during one of our Param Parties TODAY and submit the best set of parameters f

[2021-05-11 07:34] danelsuga commented on #46
Looks great, Ivy. Thanks. My only comment is that @tamarandom was thinking maybe that video should be called a "sounding board" and not a params party?

[2021-05-11 07:36] danelsuga commented on #48
Looks great. Tiny edit:

Come test your skills during one of our Param Parties TODAY **[INSERT COMMA]** and submit the best set of parameters for our upcoming Hatch!

[2021-05-11 07:40] iviangita commented on #46
@danelsuga got it! Will ask her during our call later, thanks Katy! :D

[2021-05-11 07:41] iviangita commented on #48
@danelsuga will add a comma then, thanks so much for the edit! :)

[2021-05-11 10:35] iviangita commented on #46
Hi @GriffGreen can you also please take a look and let me know if the video and tweet are good to go? Thank you! :)

[2021-05-11 10:40] iviangita commented on #48
Here's the final version of the tweet and graphic after reviewing it with @tamarandom. Publishing! :)

Token Engineering Challenge!

Last chance to test your skills during one of our Param Parties TODAY, and submit the best set of parameters for our upcoming Hatch!

Join us on Discord: https://discord.gg/NYaBbjTqh8

Submit your own set of params here: http://params.tecommons.org/hatch

![image.png

[2021-05-11 10:52] danelsuga commented on #48
Wait! I was wrong about the comma!

[2021-05-11 10:59] GriffGreen commented on #46
looks good

[2021-05-11 11:22] iviangita commented on #48
@danelsuga edited to remove the comma, include DAOhaus Discord link and fit in Twitter! I also updated the graphic @tamarandom. Posting if no more changes! :)

**TWEET**

Last chance to test your token engineering skills during one of our PARAM PARTIES TODAY and submit the best set of parameters for our upcoming Hatch!

TEC Discord: https://discord.gg/NYaBbjTqh8
DAOhaus Discord: https://discord.gg

[2021-05-11 11:29] danelsuga commented on #39
@cranders1 @GriffGreen - here is the PQ blog for April 24 - May 8. Could you please have a peek before I publish? Thank you!

One specific question (@GriffGreen ?) is to make sure I've got the right folks listed for the Commons Swarm AMA: Griff, Chuy, Sem, Fabi [CORRECT?] and Luke Duncan (https://www.youtube.com/watch?v=VpkM46h5g5g)

https://docs.google.com/document/d/1sxKkpOMu1JpcC76EFARFriYgbSTH

[2021-05-11 12:01] iviangita commented on #48
Closing!

https://twitter.com/tecmns/status/1392100563970523140?s=20

[2021-05-11 12:01] #48 closed, assigned to iviangita

[2021-05-11 13:01] divine-comedian opened #49 "draft tweet for param party debates!!"
Param Party DEBATES are starting Wednesday May 12 at 9am EST. Debate on Hatch Proposals with other TEC members. Champion your hatch design or a fork that you truly believe is the best.

Challenge others to back up their DAO decisions and be prepared to defend yours!

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/28a748a2-bb51-4ce7-9d67-97d7790d0d67)

[2021-05-11 14:21] iviangita commented on #49
Hi @divine-comedian! I turned it into 2 tweets so we can include the Discord link and the schedule. Please check and let me know what you think :D

@CommonsBuild/communications @CommonsBuild/editingteam For review/approval please before I publish, thanks! :)

**(Part 1)**

Param Party DEBATES are starting TODAY! Debate on Hatch Proposals with other TEC members.

Champion your hatch design, challen

[2021-05-11 16:11] jessicazartler commented on #48
@danelsuga @iviangita just some feedback - I would say as well that we can't assume that people know what "params" are, I think it would be helpful to link your article Suga, or our what's in a hatch article so people have some context in any Tweets that go out.

Also maybe rather than "test your skills" (as many of us don't have these skills and are still learning) maybe "Be a part of designing o

[2021-05-11 17:36] cranders1 commented on #39
nice work @danelsuga. comments provided.

[2021-05-11 21:45] tamarandom commented on #39
And... it's live! https://medium.com/token-engineering-commons/params-voting-final-hatch-demo-81fa5efc242c

[2021-05-11 21:48] tamarandom commented on #44
@GriffGreen updated this article with the debate sessions! So I'm leaving this in the distribution pipeline for sharing.

 ![Screen Shot 2021-05-11 at 11.46.42 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/570c0afe-0e72-4fe7-b4ca-536c4ef6c82d)

[2021-05-11 21:51] tamarandom opened #50 "Draft tweet for this week's blog post"
@iviangita would it be ok for you to take on the tweet for the weekly blog post?

https://medium.com/token-engineering-commons/params-voting-final-hatch-demo-81fa5efc242c

[2021-05-12 00:00] iviangita commented on #46
Closing!

https://twitter.com/tecmns/status/1392138930045083652?s=20

[2021-05-12 00:00] #46 closed, assigned to iviangita

[2021-05-12 00:11] iviangita commented on #50
Hi @tamarandom sure, we have a template for the TEC Blog Post tweet - it looks like this. Will send it out today :)

📰TEC NEWS - Everything you need to know in 5 min:

🗳️ Voting on the Params
⏰ Commons Swarm Weekly Update
🙌 Impact Hour Leaderboard

Read it now: https://medium.com/token-engineering-commons/params-voting-final-hatch-demo-81fa5efc242c

[2021-05-12 00:48] divine-comedian commented on #49
PROPOSE:

**(Part 1)**

Param Party DEBATES are starting TODAY! Debate on Hatch Proposals with other TEC members.

Champion your Hatch design, challenge others to back up their DAO decisions and be prepared to defend yours! 🏆

Know more here: https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

![image.png](https://images.zenhubuse

[2021-05-12 00:52] iviangita commented on #49
Thanks @divine-comedian, appreciate the edits! I'll schedule it on Tweetdeck to go out today :)

[2021-05-12 05:10] iviangita opened #51 "Vote dates announcement"
Key vote dates:

Primary vote of Hatch config params ends on Thursday, May 13.
Run-off vote of top-voted params ends on Thursday, May 20.

[2021-05-12 05:29] iviangita commented on #51
@CommonsBuild/communications @CommonsBuild/editingteam requesting help with the wording :D

**DRAFT tweet for the primary vote - to be released today May 12th**

TIME TO VOTE for your favorite parameters and be a part of designing our token economy!  🗳️

Submit your votes before MAY 13, 8pm CET. Results will be announced during our Community Call. ⚡

Vote here: https://tokenlog.xyz/CommonsBuild/TE

[2021-05-12 11:19] iviangita commented on #49
Closing! https://twitter.com/tecmns/status/1392434388701380614?s=20

[2021-05-12 11:19] #49 closed, assigned to iviangita

[2021-05-12 11:56] divine-comedian commented on #51
Looks great Ivi!

[2021-05-12 12:24] iviangita commented on #51
Thanks @divine-comedian! Sending out the primary vote today :)

[2021-05-12 12:56] tamarandom commented on #50
Beautiful!

[2021-05-12 12:56] #50 closed, assigned to iviangita

[2021-05-12 16:17] markoprljic opened #52 "Create a Content map for TEC"
Create a page to be published on Gitbook or elsewhere that holds evergreen content of TEC. Similar to https://www.notion.so/giveth/Commons-Stack-Content-Map-f572a1a856f84f4e99e5847d7b18efe7

Related discussion https://github.com/CommonsBuild/coordination/issues/145

[2021-05-13 09:15] tamarandom opened #53 "TEC Hatch visual explainers"
Epic

[2021-05-13 09:16] tamarandom opened #54 "TEC is live visual explainer"

[2021-05-13 11:44] tamarandom commented on #34
Short and sweet for Community Stewards! I'm updating the doc now. 👍🏽

This is the Working Group where the Community Stewards come together to coordinate workstreams, share experiences and reflect on what is going well and what can be done better in order to achieve the mission of the TEC and best serve our community.

Find us on the #stewards channel on our Discord!

[2021-05-13 11:44] #34 closed, assigned to tamarandom

[2021-05-13 11:48] tamarandom commented on #29
Proposing something short and to the point! Asked @eduardovegap for his input on this before we can close it!

The Hatch Outreach working group is responsible for reaching out to Hatchers, building relationships with projects and helping guide them in submitting their proposals for funding.

Find us on the #hatch-outreach channel on our Discord.

[2021-05-13 11:51] tamarandom commented on #51
Beautiful!!

@iviangita so we can close this one now, right?

[2021-05-13 11:51] #51 closed, assigned to iviangita

[2021-05-13 13:54] #33 closed, assigned to Zeptimus

[2021-05-13 13:54] tamarandom commented on #33
Impossible! You're a TEC 🐳!

Check your perms now, should be fixed.

[2021-05-13 13:56] tamarandom commented on #21
Update from T wells on #comms channel :

Onboarding Module Drafts
w/ Categories: https://bit.ly/3biPrUk
w/out: https://bit.ly/3hiadHn
Feedback doc: https://bit.ly/3uEdIMa

[2021-05-13 14:20] #29 closed, assigned to tamarandom

[2021-05-13 14:20] tamarandom commented on #29
@eduardovegap approved version 👍🏽 👍🏽

The Hatch Outreach working group is responsible for reaching out to Hatchers and helping guide projects to submit proposals for funding. Find us on the #hatch-outreach channel on our Discord.

Updating the doc now ...

[2021-05-13 14:20] markoprljic commented on #21
Thanks for the update Tam.
Thanks TWells for both versions.

I left feedback in the doc.

[2021-05-13 14:41] markoprljic commented on #23
@CommonsBuild/community-stewards Did you get the chance to review your YT descriptions? Please respond with thumbs up when reviewed and good to be published.

Here's the doc https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

Thanks.

[2021-05-13 14:42] markoprljic commented on #52
@chuygarcia92 We're looking for contributors here? Is it ok if I assign you to take the lead on this?

[2021-05-13 21:00] danelsuga commented on #44
Tackled on May 7!

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

Closing. :)

[2021-05-13 21:00] danelsuga commented on #44
Tackled on May 7!

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

Closing. :)

[2021-05-13 21:00] danelsuga commented on #44
Tackled on May 7!

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

Closing. :)

[2021-05-13 21:03] danelsuga commented on #44
Article tackled on May 7 with some follow-up edits and tweets on final voting and debates through the week (til Thursday). Voting ended today so closing now. :)

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

[2021-05-13 21:03] danelsuga commented on #44
Article tackled on May 7 with some follow-up edits and tweets on final voting and debates through the week (til Thursday). Voting ended today so closing now. :)

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

[2021-05-13 21:04] danelsuga commented on #44
Article published on May 7 with some follow-up edits and tweets on final voting and debates through the week (til Thursday). Voting ended today so closing now. :)

https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

[2021-05-13 21:04] #44 closed, assigned to danelsuga

[2021-05-14 15:00] tamarandom commented on #6
Hey @natenatesoo This issue is still open so I want to check in whether it's ok to close and make sure you have access to close it yourself. (let me know if not, I just had to do that for Zep in the new C&D repo!)

[2021-05-14 16:25] tamarandom opened #55 "Animated video"
## 📋 Anything to add?

Chuy to fill in the details

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 16:33] Zeptimus commented on #4
Next monday Lauren Manu and Zep will bring a draft and this issue should get done next week

[2021-05-14 16:37] tamarandom commented on #30
@liviade1, @Zeptimus will take a shot at this and share for approval.

[2021-05-14 16:41] tamarandom commented on #26
Closing.

[2021-05-14 16:41] #26 closed, assigned to divine-comedian

[2021-05-14 16:41] tamarandom commented on #41
Update : closing

[2021-05-14 16:41] #41 closed, assigned to GriffGreen, marthendalnunes, PabloCGL, divine-comedian, laurenluz

[2021-05-14 16:44] tamarandom commented on #6
Closing!

[2021-05-14 16:44] #6 closed, assigned to natenatesoo

[2021-05-17 10:54] tamarandom opened #56 "Params Runoff (Epic)"

[2021-05-17 10:55] tamarandom opened #57 "Tamara / Draft Hatch and DAO strategy & share with Katy for final edit"

[2021-05-17 10:55] tamarandom opened #58 "Griff / Draft Hatch and DAO strategy & share with Katy for final edit"

[2021-05-17 10:55] tamarandom opened #59 "Zep / Draft Hatch and DAO strategy & share with Katy for final edit"

[2021-05-17 10:56] tamarandom opened #60 "Final edit of the param runoff strategies"

[2021-05-17 10:59] tamarandom commented on #57
Ooops wrong repo! Closing!

[2021-05-17 10:59] #57 closed, assigned to tamarandom

[2021-05-17 10:59] #59 closed, assigned to Zeptimus

[2021-05-17 10:59] #58 closed, assigned to GriffGreen

[2021-05-17 11:00] #60 closed, assigned to danelsuga

[2021-05-17 11:00] tamarandom commented on #56
Ooops wrong repo! Closing!

[2021-05-17 11:00] #56 closed, assigned to GriffGreen

[2021-05-18 17:03] chuygarcia92 commented on #4
@laurenluz has drafted this amazing document for the hatch landing page:

https://hackmd.io/@X8tRdfwBQVago2RXal2LDg/HyKXHO2Ou/edit

This is still a WIP but to complement it we're taking in account the following:

- Asking Commons Swarm to have a collapsable tree with an FAQ

- @divine-comedian is working on updating [Jake's forum post](https://forum.tecommons.org/t/ragequit-delay-and-what-it-means

[2021-05-19 15:54] divine-comedian opened #61 "Update Rage Quit Forum Post"
Updating Ragequit post - https://forum.tecommons.org/t/ragequit-delay-and-what-it-means/130 with addendum reflecting how other hatch parameters (including hatch tribute) will affect this mechanism. Add any other relevant links to help users navigate to other important information.

[2021-05-20 15:27] chuygarcia92 commented on #55
Hello everyone! Here are the 2 scripts we've been working on for the animated videos. Please make sure to post your reviews/feedback ASAP so we can jump into production.

The first spot is intended to be targeted to wider audiences, both community members and external people. We're trying to cover as many assets as possible! These will be re-used in animated spots with specific purposes, like the

[2021-05-20 15:49] chuygarcia92 commented on #47
Some advances & updates:

https://hackmd.io/@1sBtuDmrRBG360k8-EXf2A/By5jl-VYu/edit

Any thoughts? @tamarandom @GriffGreen

[2021-05-21 10:16] #42 closed, assigned to iviangita

[2021-05-21 10:17] iviangita commented on #42
Done! https://docs.google.com/spreadsheets/d/1TEag2jkNqgpFX9oqsqHZ_cQc6UboggIb6Rxctly15fU/edit#gid=175871475

[2021-05-21 21:39] danelsuga opened #62 "Make Mitch's params comparison blog post "featured""
Hi folks! Could some one with the powers (i.e., admin TEC Medium account access) make Mitch's brand new article "featured" on the TEC page please?

How do the Hatch Param Proposals Stack Up?

@jessicazartler
@chuygarcia92
@GriffGreen
@natenatesoo
@tamarandom
@Jeff-Emmett

Thank you!

[2021-05-22 14:54] danelsuga commented on #62
Moved this issue.

[2021-05-22 14:54] #62 closed, assigned to divine-comedian

[2021-05-23 12:40] divine-comedian commented on #61
Forum post updated with additions by Nate and myself.
https://forum.tecommons.org/t/ragequitting-ragequit-delay-and-how-they-work/130
@CommonsBuild/editingteam

[2021-05-25 07:26] danelsuga commented on #39
I've got a draft floating around if anyone wants to check it out today. Thx.

@tamarandom
@liviade1
@GriffGreen
@cranders1

[2021-05-25 07:38] danelsuga commented on #39
@sembrestels or some one else in the know, could you please help me add info for the Hatch Demo segment?

E.g., what is being tested? What is important to include/share about this last demo with the community?

Thx!

[2021-05-25 07:46] tamarandom commented on #39
With link ;)

https://docs.google.com/document/d/1YDUFGzebYv7whJgpOnqfHENRU7G7RUitt-L4V4-o0Ms/edit

[2021-05-25 15:58] chuygarcia92 commented on #4
this is @divine-comedian 's update on ragequit:

https://forum.tecommons.org/t/ragequitting-ragequit-delay-and-how-they-work/130/41

[2021-05-26 15:39] chuygarcia92 commented on #55
Here's the latest update. Share your thoughts! We'd like to jump into production this week.

![TEC_hatchspot05-1.png](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/1b12a0c0-9552-4e2f-9967-21b3344309c2)

![TEC_hatchspot05-2.png](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/565724f1-076a-4be8-a0d5-2b563f68aeff)

[2021-05-26 16:53] danelsuga commented on #55
I know there was talk about the significance of using "donate". Can it not just be "send" (wxDAI)?

I was also wondering if "to create a bright future for societies" could be changed slightly. Perhaps something like:

"to promote positive economic change for societies"

[2021-05-27 10:23] tamarandom commented on #39
Thanks @danelsuga !! It looks great.

[2021-05-27 10:28] iviangita commented on #23
I'm closing this issue since we have already started using these descriptions in our Youtube channel. If there are changes needed, stewards can reach out to me and @Zeptimus.

Here's the final document: https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit?usp=sharing

[2021-05-27 10:28] #23 closed, assigned to divine-comedian, iviangita

[2021-05-27 15:05] divine-comedian opened #63 "Tweet series about the hatch TL;DR and hatch process"
Create tweets for the coming weeks informing the general community at large about the hatch process, how the hatch works and get people reading our forum content so the understand what the heck is going on!!

forum posts -

https://forum.tecommons.org/t/how-you-can-hatch-the-tec/328

https://forum.tecommons.org/t/the-hatch-tl-dr/272

and create memes to correspond with tweets.

[2021-05-27 15:07] divine-comedian opened #64 "Tweet series about how to get wxDai"
create tweets to blast out for the coming weeks to inform people about wxDai and how to get it so they are ready to contribute to the hatch!

forum post-
https://forum.tecommons.org/t/how-to-get-wxdai-a-bridging-story/347

and make moar memes to correspond!

[2021-05-27 15:25] divine-comedian commented on #64
MEMES!

<a href="https://imgflip.com/i/5b5xjw"><img src="https://i.imgflip.com/5b5xjw.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

<a href="https://imgflip.com/i/5b60nn"><img src="https://i.imgflip.com/5b60nn.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Gener

[2021-05-27 15:36] divine-comedian commented on #63
MEMES!
<a href="https://imgflip.com/i/5b5ziz"><img src="https://i.imgflip.com/5b5ziz.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

[2021-05-28 11:56] tamarandom commented on #54
So so SO close. Joe has a full time job and full time life so he was only able to iterate on this from Thursday this week. This next version looks like it will be the final one though. Hallelujah!!

[2021-05-28 13:47] danelsuga commented on #28
took a stab:

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-05-28 13:47] danelsuga commented on #30
took a stab:

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-05-28 13:47] danelsuga commented on #35
took a stab:

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-05-28 13:47] danelsuga commented on #36
took a stab:

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-05-28 13:47] danelsuga commented on #32
took a stab:

https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-05-28 14:14] Zeptimus commented on #30
Thanks Katy, closing

[2021-05-28 14:14] #30 closed, assigned to Zeptimus

[2021-05-28 14:15] Zeptimus commented on #35
Closing

[2021-05-28 14:15] #35 closed, assigned to Zeptimus

[2021-05-28 14:15] #36 closed, assigned to Zeptimus

[2021-05-28 14:15] Zeptimus commented on #32
Closing

[2021-05-28 14:15] #32 closed, assigned to Zeptimus

[2021-05-28 16:50] tamarandom commented on #21
Done! The issue, #665,  to support T Wells covers the work from here.

[2021-05-28 16:50] #21 closed, assigned to chuygarcia92

[2021-05-28 21:38] laurenluz commented on #4
I updated the FAQ section. Would love some feedback or QA:

https://hackmd.io/SBKMAE56QruvHr1ZRUangw?both

@chuygarcia92

FYI - just so everyone knows, the FAQ section can and will be collapsible 😉

[2021-05-31 13:52] divine-comedian commented on #4
reviewed! left a comment

[2021-05-31 14:26] laurenluz commented on #4
Thanks Mitch - I updated based on your comment. @chuygarcia92 - is this good to go now? what's the next step?

[2021-05-31 16:14] chuygarcia92 commented on #4
I think we're done, we would just need a link to Joe's final Miro in the FAQ. I understand this will be ready this week @tamarandom ?

[2021-05-31 22:20] tamarandom commented on #4
The "TEC is live" version is still under iteration, it's close though!!

This is the TEC 2-phases! There might be one minor change made this week but let's not let that hold this up. Can run with this now.
[TEC Hatch 2-phase process - final.pdf](https://github.com/CommonsBuild/content-distribution/files/6572401/TEC.Hatch.2-phase.process.-.final.pdf)

[2021-06-01 14:35] chuygarcia92 commented on #55
This is our production script:
[https://app.zenhub.com/files/349409011/192c8291-e4ac-427f-b052-1b6e4d969da1/download](https://app.zenhub.com/files/349409011/192c8291-e4ac-427f-b052-1b6e4d969da1/download)

[2021-06-01 14:48] chuygarcia92 commented on #4
This is done and ready for implementing in the hatch front end.
@sembrestels @PJColombo @GriffGreen

https://hackmd.io/SBKMAE56QruvHr1ZRUangw?both

[2021-06-01 14:48] #4 closed, assigned to divine-comedian, laurenluz, chuygarcia92

[2021-06-01 15:32] JuankBell commented on #28
**Sorry for the delay! Text updated!**

Gravity

The Gravity Working Group aims to help maintain equilibrium and well-being in decentralized communities through nonviolent communication, transformational approach to conflicts, and a system that provides easy access to management protocols.

We foster dialogue for smooth coordination, prevention and solution of social issues in DAOs, and train part

[2021-06-02 09:32] PJColombo commented on #4
This looks great guys!

I added it to the hatch front end.

@chuygarcia92 Do we have the animated video ready as well ?

[2021-06-03 00:36] chuygarcia92 commented on #28
Thanks @JuankBell!! DONE!

[2021-06-03 00:36] #28 closed, assigned to JuankBell

[2021-06-03 01:19] sembrestels commented on #4
The hatch content is already in place. I did some minor modifications that can be seen in the hackmd (it appears as underlined highlighted in green color), especially specifying that the voting will be available one week after the hatch is successful.

[2021-06-08 11:28] danelsuga commented on #39
Hi gang! Here is the draft for the blog. Please share your edits **before** Wednesday. Thank you so much!

https://docs.google.com/document/d/1GWf5G33v3SPtkNkatIbu6zDYCYnjvYIl2Oo4AjzqWyk/edit?usp=sharing

@tamarandom
@cranders1
@liviade1
@GriffGreen

[2021-06-08 12:04] tamarandom commented on #54
🥳  🥳  🥳

[https://app.zenhub.com/files/349409011/4ffa5c4f-cb12-422f-8af6-b59847f86afa/download](https://app.zenhub.com/files/349409011/4ffa5c4f-cb12-422f-8af6-b59847f86afa/download)

[2021-06-08 12:04] #54 closed, assigned to tamarandom

[2021-06-08 14:11] iviangita commented on #63
Here are the tweets:

https://twitter.com/tecmns/status/1401212971230011392?s=20

https://twitter.com/tecmns/status/1400437612893151241?s=20

CLOSING! :D

[2021-06-08 14:11] #63 closed, assigned to divine-comedian, iviangita

[2021-06-08 14:12] iviangita commented on #64
DONE! https://twitter.com/tecmns/status/1401918620972683273?s=20

[2021-06-08 14:12] #64 closed, assigned to divine-comedian, iviangita

[2021-06-08 15:24] cranders1 commented on #39
looks amaze at first glance. will provide comments this afternoon (PDT)🙂

[2021-06-08 23:15] tamarandom commented on #39
Had a 1-over & made some suggestions. I wager @cranders1 will have more good input. It's excellent work @danelsuga!

[2021-06-10 18:49] danelsuga commented on #39
It's published!

https://medium.com/token-engineering-commons/hatch-prep-and-what-you-can-do-to-help-42dd81ad183c

[2021-06-11 16:17] chuygarcia92 commented on #61
thanks @divine-comedian and @natenatesoo

this is the final update: https://forum.tecommons.org/t/ragequitting-ragequit-delay-and-how-they-work/130/41?u=chuygarcia92

[2021-06-11 16:17] #61 closed, assigned to divine-comedian

[2021-06-11 16:59] chuygarcia92 opened #65 "TEC C&D Request - Campaign for Community video"
**1- What is the content?**
- [ ] Graphic
- [ ] Meme
- [ ] Tweet
- [ ] Campaign for a specific event
- [ ] Article/Blog Post
- [x] Videos, Podcasts, Spotlight Interviews, etc.
- [ ] News (Recaps, mailing lists, etc)

**2- When is the distribution of this content due?**
10 days before the hatch

**3- What is the purpose of this content?**
- [X] Informative
- [ ] Call-To-Action (focused on community

[2021-06-11 17:42] tamarandom commented on #25
Old & closing.

[2021-06-11 17:42] #25 closed, assigned to nobody

[2021-06-11 17:48] chuygarcia92 opened #66 "TEC C&D Request - Friday weekly TEC updates"
**1- What is the content?**
- [ ] Graphic
- [ ] Meme
- [ ] Tweet
- [ ] Campaign for a specific event
- [X] Article/Blog Post
- [ ] Videos, Podcasts, Spotlight Interviews, etc.
- [ ] News (Recaps, mailing lists, etc)

**2- When is the distribution of this content due?**
Starting Sprint 12!!

**3- What is the purpose of this content?**
- [X] Informative
- [ ] Call-To-Action (focused on community)
-

[2021-06-22 15:32] chuygarcia92 opened #67 "TEC C&D Request - Forum Posts for Commons Upgrade"
**1- What is the content?**
- [ ] Graphic
- [ ] Meme
- [ ] Tweet
- [X] Campaign for a specific event
- [ ] Article/Blog Post
- [ ] Videos, Podcasts, Spotlight Interviews, etc.
- [ ] News (Recaps, mailing lists, etc)

**2- When is the distribution of this content due?**
When the hatch opens

**3- What is the purpose of this content?**
- [X] Informative
- [ ] Call-To-Action (focused on community)
-

[2021-06-22 15:34] chuygarcia92 opened #68 "Review: Forum post - Introduction to the Augmented Bonding Curve"
Progress by @divine-comedian:

https://hackmd.io/Qey8zQxaRUyY_o4SLi-kBA

[2021-06-22 15:36] chuygarcia92 opened #69 "Review: Forum post - Entry Tribute & Exit Tribute"
Progress by @natenatesoo:

https://docs.google.com/document/d/1CCgyHTRCSouFbrQEZGhSZ5lqijWkvgSr3eIBH6BOsCo/edit?usp=sharing

[2021-06-22 16:02] chuygarcia92 opened #70 "Review: Forum post - Transferability"
https://docs.google.com/document/d/1-rCNARnBs7h_mq6A6WtjoLeyCDfqZTl-l2at0w4y3iM/edit?usp=sharing

[2021-06-23 15:10] Zeptimus commented on #70
I feel its ready, nuggan updated it and looks great!

[2021-06-25 16:21] danelsuga commented on #39
Published: https://medium.com/token-engineering-commons/heating-up-to-the-hatch-ea0fea993b50

[2021-06-25 17:24] chuygarcia92 commented on #55
Update on storyboard:

![TEC Storyboard1-3.png](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/23dd1adb-764d-49da-89f1-2b6d9c50e06f)

[2021-06-30 13:24] divine-comedian commented on #68
hey @chuygarcia92  this is the dashboard spec, not the forum post. I believe @natenatesoo  is writing the forum post for the ABC.

[2021-06-30 18:37] tamarandom commented on #47
@chuygarcia92 and I are talking about this issue which we agree to close it.

For the first point, there is this article: https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

For the second, that will be part of the Hatcher Handbook #736

And for the third point, it's being covered by a planned forum post (see https://docs.google.com/document/d/1nCY3VTIZmeNeQi5mJ8pf3xaJ1VKj6wS6NqXRPz6tVa

[2021-06-30 18:37] #47 closed, assigned to mount-manu-zz

[2021-07-02 17:22] Razga commented on #52
Nice, I could help out but I need to read more.

Edit: On it.

[2021-07-06 15:50] mount-manu-zz opened #71 "Explanatory diagram of WGs and their interrelations"
Advice process:
@stewards @tamarandom

[2021-07-06 18:52] tamarandom commented on #71
💜  this!

[2021-07-07 17:24] tamarandom commented on #55
Update: Expected to be ready by Monday.

[2021-07-07 17:31] tamarandom commented on #65
Update: @chuygarcia92 says close, we close!

[2021-07-07 17:31] #65 closed, assigned to chuygarcia92

[2021-07-09 17:07] chuygarcia92 commented on #52
@razga (ZER8) has been working on a notion, here's the WIP:

https://www.notion.so/Token-Engineering-Commons-Content-Map-780f0275c5c54f74b797429f58379bc0

[2021-07-09 17:14] danelsuga commented on #39
https://medium.com/token-engineering-commons/the-final-sprint-to-the-hatch-153be7c26c4

[2021-07-09 17:31] tamarandom commented on #13
Closing!

[2021-07-09 17:31] #13 closed, assigned to nobody

[2021-07-15 18:34] Razga commented on #52
This is my semi-final version:
https://www.notion.so/Token-Engineering-Commons-Content-Map-780f0275c5c54f74b797429f58379bc0

[2021-07-31 16:50] tamarandom commented on #55
(via Zep...)
Looping in @knobsdao for advice process.

Current Hatch Video script

0 - 0:03
Welcome to the Token Engineering Commons’s Hatch!

0:04 - 0:10
We are advancing the field of Token Engineering to promote positive, economic change for societies.

0:12 - 0:21
Token Engineering is all about validating economic design — before a bridge is built, it must be tested to ensure its safety.

0:22

[2021-07-31 16:59] Razga commented on #52
@chuygarcia92 DId you take a look at the content map?:D

[2021-08-06 16:38] chuygarcia92 commented on #37
this is already going on with each upload, is this right @Zeptimus ?

[2021-08-06 17:35] natenatesoo commented on #55
Update: Final Version almost ready.

[2021-08-06 22:19] chuygarcia92 commented on #55
The hatch animation video is up & running, will now start the campaign around it so I'll close this issue.

https://youtu.be/7uGy_KNr2rk

[2021-08-06 22:19] #55 closed, assigned to chuygarcia92

[2021-08-17 18:43] iviangita commented on #52
@chuygarcia92 can I also request access to the content map? we might need it for the selection of articles/documents to be translated :)

[2021-08-20 15:24] tamarandom commented on #53
The issues in the Epic have been closed for a while. This is just housekeeping. 🧹

[2021-08-20 15:24] #53 closed, assigned to tamarandom

[2021-08-20 15:37] tamarandom commented on #37
Yep, just confirmed with @Zeptimus. Closing.

[2021-08-20 15:37] #37 closed, assigned to chuygarcia92

[2021-08-20 15:54] Razga opened #72 "test"
test

[2021-08-20 16:14] mount-manu-zz opened #73 "Spoken Word Poem (about Commons Stack's ethos)"
Soon our community will not only be open to the Trusted Seed but to everyone in the cryptosphere. Once this happens, an effective way to go viral without spending too much video production and ad money would be to create a video where a protagonist recites an emotionally powerful, spoken word poem that describes our ideals, our values, our dreams, our goals, current problems, what we're trying to

[2021-08-24 20:32] divine-comedian opened #74 "Write Commons Configuration Description forum post"
Draft a forum post shortly describing what the Commons Configuration Dashboard is for. Post in Params - to be linked for comms purposes.

[2021-08-27 14:05] divine-comedian commented on #74
Posted - https://forum.tecommons.org/c/defi-legos-and-how-they-work-together/9

[2021-09-03 20:47] tamarandom commented on #24
Backlog refinement. Closing this Epic!

[2021-09-03 20:47] #24 closed, assigned to chuygarcia92

[2021-09-07 20:54] #67 closed, assigned to chuygarcia92

[2021-09-17 16:30] #66 closed, assigned to chuygarcia92

[2021-09-17 16:30] chuygarcia92 commented on #66
@mount-manu is addressing this on #890 so closing

[2021-10-01 13:51] mount-manu-zz opened #75 "Resuscitate TEC's LinkedIn Account"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@chuygarcia92

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in

[2021-10-05 16:22] ghost commented on #73
I support this idea.  I can provide some written content if this goes forward. (no promises on performing)

[2021-10-06 17:35] chuygarcia92 commented on #75
I personally think we have a bunch on our plate already. I also have never really got LinkedIn, if there's anyone in the community that feels we're missing out on some benefits in this platform we could look for someone to handle updates, but otherwise I'd suggest to close this issue in the meantime (at least until we start funding proposals)

[2021-10-06 17:42] #72 closed, assigned to nobody

[2021-10-06 17:44] chuygarcia92 commented on #68
This has been uploaded for a while, so I'm closing this issue:

https://forum.tecommons.org/t/augmented-bonding-curve-an-introduction-to-the-abc/497?u=chuygarcia92

[2021-10-06 17:44] #68 closed, assigned to natenatesoo

[2021-10-07 17:33] mount-manu-zz commented on #75
As Yoda would put it: Closed, this has been.

[2021-10-07 17:33] #75 closed, assigned to nobody

[2021-10-15 17:07] tamarandom commented on #69
@GriffGreen you want to greenlight this before we close it? Here is the link: https://forum.tecommons.org/t/augmented-bonding-curve-entry-exit-tribute/494

[2021-10-18 15:11] #74 closed, assigned to divine-comedian

[2021-10-25 13:49] tamarandom commented on #15
Dropping this here, descriptions about the working groups to be used for YouTube (and also the website).
https://docs.google.com/document/d/116ojz1QerleELqkD3832mvImZB_09N7bqca6gPIWA1A/edit

[2021-10-25 13:52] tamarandom commented on #15
@mount-manu will take this on. Woohoo!! This can make a really nice medium piece.

cc: @natenatesoo @eduardovegap @liviade1

[2021-11-12 17:13] tamarandom commented on #69
closing

[2021-11-12 17:13] #69 closed, assigned to GriffGreen

[2021-11-12 17:13] tamarandom commented on #70
Closing

[2021-11-12 17:13] #70 closed, assigned to GriffGreen

[2021-11-12 17:56] tamarandom commented on #18
Closing.

[2021-11-12 17:56] #18 closed, assigned to nobody

[2021-11-26 17:28] chuygarcia92 commented on #52
this is being reviewed by the Translations T.E.A.M. since it's a great starting point for the index they need. Some of the suggested content for translations is also included in issue #904

[2021-11-26 18:10] tamarandom commented on #52
Closing! This is ongoing work now: https://www.notion.so/Token-Engineering-Commons-Content-Map-780f0275c5c54f74b797429f58379bc0

[2021-11-26 18:10] #52 closed, assigned to chuygarcia92

[2021-12-26 23:36] mount-manu-zz commented on #73
Update: poem is written and has been turned into a script for a video, for which we already have a first video iteration/draft BUT the consensus was that the content was more relevant to Commons Stack so they've taken over. Currently, we're (T.E.A.M. is) thinking about using the CS video as proof-of-concept for a future spoken word video ad for the TEC (but we'll see about that as things develop)

[2021-12-28 10:13] mount-manu-zz commented on #71
Update: this has evolved and become a section of (newer) issue #1165 _WGs: Explanation & Interrelationships (Medium article, evergeen)_ and I will FINALLY close both this issue and that issue in sync and before the CU

[2022-02-04 02:05] GriffGreen commented on #39
Wow! yeah ! glad to se this coming back!

[2022-02-04 15:08] tamarandom commented on #39
Heh, sorry, it was just me brining closed issues back to life because of their #repeating tag. I'm re-closing them all now.

[2022-02-04 15:08] tamarandom commented on #39
Heh, sorry, it was just me brining closed issues back to life because of their #repeating tag. I'm re-closing them all now.

[2022-02-04 15:08] #39 closed, assigned to danelsuga

[2022-02-04 15:11] #14 closed, assigned to nobody

[2022-02-23 19:32] mount-manu-zz commented on #15
Same as issue #1165: working on it, expecting to complete it by next week / first week of March (finally!)

[2022-02-23 19:32] #15 closed, assigned to mount-manu-zz